## Do not include conda enviroment (managed by snakemake)
.snakemake/

## Do not include huge size files 
resources/hg38.fa.gz
resources/hg38.mmi

# DO not include the output directories because they are generated during the pipeline
data/
benchmarks/
alignments/
results/
logs/
